/* .galeriaport{ */
    /* background-color: rgb(236, 230, 230); */
    /* height: 70%; */
    /* padding-bottom: 10px; */
    /* display: flex;
    flex-wrap: wrap; */
    
/* } */




.imagenport{
    background-color: white;
    width: 300px;
    height: 305px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px gray;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
.foto{

    /* padding: 10px; */
    margin-left: auto;
    margin-right: auto;
    /* padding: 30px;
    display: block;
    /* width: 280px; */
    /* border: 5px solid red; */
    /* overflow: hidden; */
    width: 280px;
   max-height: 240px;
    border: 1px solid gray;
}
.description{
    
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 5%;
    
}